<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDWrJL7D8VTmJzEvJOJW3Jdx8Zf4TF8zwQ</string>
	<key>GCM_SENDER_ID</key>
	<string>804495410228</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.vpn.hero</string>
	<key>PROJECT_ID</key>
	<string>herovpn-1abe4</string>
	<key>STORAGE_BUCKET</key>
	<string>herovpn-1abe4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:804495410228:ios:9671fa9477bf783bb8f661</string>
</dict>
</plist>
